{% extends 'exam-base.html' %}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Online Examination</title>

  <!-- Bootstrap core CSS -->
  <!-- <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  {% block css_scripts %}
  {% endblock %}

  <link href="/static/css/mystyle.css" rel="stylesheet">

</head>

<body class="d-flex flex-column h-100">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      {% block userdetail %}
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <span class="nav-link">{{ request.user.username }}
              <span class="sr-only">(current)</span>
            </span>
          </li>
          <li class="nav-item">
            <span class="nav-link">(Roll Number)</span>
          </li>
        </ul>
      </div>
      {% endblock %}

    </div>
  </nav>

{% block content %}
  <!-- Page Content -->
  <div class="container">
    <div class="row">

      <!-- Post Content Column -->
      <div class="col-md-8">
        <div class="loader"></div>
        <!-- Post Content -->

        <form class="mb-2" action="{% url 'user-exam-question' user_exam.id %}" method='post'>
          {% csrf_token %}
          <div class="card my-2">
            <h5 class="card-header py-1">Question #<span id="id_question_number"></span></h5>
            <input type="hidden" name="question_id" id="question_id">
            <div class="card-body py-1" style="height: 300px; overflow-y: auto;">
                <p id="id_question_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>

            </div>
          </div>
          <fieldset class="form-group">
            <div class="row">
              <div class="col-md-12">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="answer_id" id="gridRadios0">
                  <label class="form-check-label" for="gridRadios0" id="gridRadios0Desc"></label>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="answer_id" id="gridRadios1">
                  <label class="form-check-label" for="gridRadios1" id="gridRadios1Desc"></label>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="answer_id" id="gridRadios2">
                  <label class="form-check-label" for="gridRadios2" id="gridRadios2Desc"></label>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="answer_id" id="gridRadios3">
                  <label class="form-check-label" for="gridRadios3" id="gridRadios3Desc"></label>
                </div>
              </div>
            </div>
          </fieldset>

          <div class="d-flex justify-content-between">
            <div class="d-flex justify-content-start">
              <button type="button" class="btn btn-secondary" id="idPrevQuestionBtn" disabled=true>Previous</button>
            </div>
            <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-warning mx-1" id="idMarkedBtn">Mark for Review</button>
              <button type="reset" class="btn btn-danger mx-1" id="idClearResponseBtn">Clear Response</button>
            </div>
            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-primary" id="idSaveNextBtn">Save & Next</button>
            </div>
          </div>
        </form>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Side Widget Guest Detail -->
        <div class="card my-2">
          <h5 class="card-header py-1">Welome Guest</h5>
          <div class="card-body py-1">
            <b>Time Left : </b><span id="id-time-left"></span>
          </div>
        </div>

        <!-- Side Widget Question Palette -->
        <div class="card my-2">
          <div class="loader"></div>
          <h5 class="card-header py-1">Question Palette</h5>
          <div class="card-body py-1" style="max-height: 180px; overflow-y: auto;" id="idQuestionPaletteDiv">
            <!-- <button class="btn btn-outline-secondary quest-palette my-1 mx-1">#</button> -->

          </div>

          <div class="card-body py-1">
            <b>Legend : </b>
            <div class="d-flex justify-content-between">
              <div class="row">
                <div class="col-md-6 p-1">
                  <span class="btn btn-success p-2"></span>
                  Answered
                </div>
                <div class="col-md-6 p-1">
                  <span class="btn btn-outline-secondary p-2"></span>
                  Not Answered
                </div>
                <div class="col-md-6 p-1">
                  <span class="btn btn-warning p-2"></span>
                  Marked for Review
                </div>
                <div class="col-md-6 p-1">
                  <span class="btn btn-info p-2"></span>
                  Answered and Marked for Review
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- Side Widget Buttons -->
        <div class="card my-2">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#instructionModal">Instructions</button>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#endtestModal">Submit & End Test</button>
            </div>
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Modal 1 -->
  <div class="modal fade" id="instructionModal" tabindex="-1" role="dialog" aria-labelledby="instructionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="instructionModalLabel">Instructions</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          N/A
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal 2 -->
  <div class="modal fade" id="endtestModal" tabindex="-1" role="dialog" aria-labelledby="endtestModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="endtestModalLabel">Submit & End Test</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary">Yes</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

  <!-- Footer -->
  <footer class="bg-dark mt-auto py-2">
    <div class="container">
      <p class="text-center text-white m-0">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

{% block js_scripts %}
  <script>
    const clockTimer = function(minutes) {
      // Set the date we're counting down to
      // var yourDateToGo = new Date("Jan 5, 2021 15:37:25");
      var yourDateToGo = new Date();
      yourDateToGo.setMinutes(yourDateToGo.getMinutes() + minutes);
      var countDownDate = yourDateToGo.getTime();
      // Update the count down every 1 second
      var countDown = setInterval(function() {
        // Get today's date and time
        var now = new Date().getTime();
        // Find the distance between now and the count down date
        var distance = countDownDate - now;
        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        // Display the result in the element with id="id-time-left"
        document.getElementById("id-time-left").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
        // If the count down is finished, write some text
        if (distance < 0) {
          clearInterval(countDown);
          document.getElementById("id-time-left").innerHTML = "EXPIRED";
        }
      }, 1000);
    }
    clockTimer(45);
  </script>
  <script>


    $(document).ready(function() {
      $.fn.serializeObject = function() {
          var o = {};
          var a = this.serializeArray();
          $.each(a, function() {
              if (o[this.name] === undefined) {
                o[this.name] = this.value || '';
              }
          });
          return o;
      };

      jQuery.ajaxSetup({
        beforeSend: function() {
          $('.loader').show();
        },
        complete: function(){
          $('.loader').hide();
        },
      });

      const questionConfig = function() {
        const fetchUserQuestionPaletteUrl = "/exams/user-exam/{{ user_exam.id }}/question-palette/?code={{ user_exam.exam_series.code }}";
        const fetchUserQuestionUrl = "{% url 'user-exam-question' user_exam.id %}?code={{ user_exam.exam_series.code }}";
        const fetchSingleUserQuestionUrl = "{% url 'user-exam-question' user_exam.id %}?code={{ user_exam.exam_series.code }}&question_id=9999";

        const fetchUserQuestionPalette = function(ajaxUrl) {
          jQuery.ajax({
            type: "GET",
            url: ajaxUrl,
            data: {},
            dataType : "json",
            contentType: "application/json; charset=utf-8",
            success: function(data) {
              updateExamQuestionPaletteUI(data);
            },
            error: function (xhr, error, reason){
              alert(reason);
              console.log(xhr);
              console.log(error);
              console.log(reason);
            }
          });
        }

        const updateExamQuestionPaletteUI = function(data) {
          let questionPaletteDivEle = $('#idQuestionPaletteDiv');
          let htmlData = ''
          for (let i=0; i<data.questions.length; i++) {
            let questionObj = data.questions[i];
            let questionIndex = i+1;

            let questionObjClassName = 'btn-outline-secondary';
            if (questionObj.is_marked && questionObj.is_answered) {
              questionObjClassName = 'btn-info';
            } else if (questionObj.is_answered) {
              questionObjClassName = 'btn-success';
            } else if (questionObj.is_marked) {
              questionObjClassName = 'btn-warning';
            }

            htmlData += '<button type="button" class="btn '+ questionObjClassName +' my-1 mx-1 quest-palette" id="idQuestPalette'+ questionObj.id +'" data-questid="'+ questionObj.id +'">'+ questionIndex +'</button>'
          }
          questionPaletteDivEle.html(htmlData);
        }

        const fetchUserQuestion = function(ajaxUrl) {
          jQuery.ajax({
            type: "GET",
            url: ajaxUrl,
            data: {},
            dataType : "json",
            contentType: "application/json; charset=utf-8",
            success: function(data) {
              updateExamQuestionUI(data);
            },
            error: function (xhr, error, reason){
              alert(reason);
              console.log(xhr);
              console.log(error);
              console.log(reason);
            }
          });
        }

        const sendUserQuestion = function(ajaxUrl, requestData) {
          jQuery.ajax({
            type: "POST",
            url: ajaxUrl,
            data: JSON.stringify(requestData),
            dataType : "json",
            contentType: "application/json; charset=utf-8",
            headers: {
              "X-CSRFToken": "{{csrf_token}}"
            },
            success: function(data) {
              updateExamQuestionUI(data);
            },
            error: function (xhr, error, reason){
              alert(reason);
              console.log(xhr);
              console.log(error);
              console.log(reason);
            }
          });
        }

        const updateExamQuestionUI = function(data) {
          // Update Question and Answers
          $('#id_question_number').text(data.question_id);
          $('#question_id').val(data.question_id);
          $('#id_question_desc').text(data.question_desc);

          // Update Answered
          $("input[name=answer_id]").prop("checked", false);
          for (let i = 0; i < data.answer_data.length; i++) {
            let optionId = 'gridRadios'+String(i);
            $('#'+optionId).val(data.answer_data[i].id);
            $('#'+optionId+'Desc').text(data.answer_data[i].desc);
            $('#'+optionId).prop("checked", data.answer_data[i].is_selected);
          }

          // Update Previus Question data
          if (!!data.prev_question_id) {
            prevQuestionBtnEle.prop('disabled', false);
            prevQuestionBtnEle.data('questid', data.prev_question_id)
          } else {
            prevQuestionBtnEle.prop('disabled', true);
            prevQuestionBtnEle.data('questid', '')
          }

        }

        const handleExamQuestionPaletteUIOnSubmit = function(data) {
          if (!!data['question_id']) {
            let questionPaletteEle = $('#idQuestPalette'+data['question_id']);
            let questionObjClassName = 'btn-outline-secondary';
            if (data['is_marked'] && data['answer_id']) {
              questionObjClassName = 'btn-info';
            } else if (data['answer_id']) {
              questionObjClassName = 'btn-success';
            } else if (data['is_marked']) {
              questionObjClassName = 'btn-warning';
            }

            questionPaletteEle.removeClass('btn-outline-secondary'
              ).removeClass('btn-info'
              ).removeClass('btn-success'
              ).removeClass('btn-warning'
              ).addClass(questionObjClassName);
          }
        }

        let prevQuestionBtnEle = $('#idPrevQuestionBtn');
        $(document).on('click', '#idPrevQuestionBtn, .quest-palette', function(eve) {
          let url = fetchSingleUserQuestionUrl;
          url = url.replace('question_id=9999', 'question_id='+$(this).data('questid'));
          fetchUserQuestion(url);
        })

        let isMarkedBtnEle = $('#idMarkedBtn');
        isMarkedBtnEle.on('click', function(eve) {
          data = $('form').serializeObject();
          data['is_marked'] = true;
          sendUserQuestion(fetchUserQuestionUrl, data);
          handleExamQuestionPaletteUIOnSubmit(data);
        })

        let saveNextBtnEle = $('#idSaveNextBtn');
        saveNextBtnEle.on('click', function(eve) {
          data = $('form').serializeObject();
          sendUserQuestion(fetchUserQuestionUrl, data);
          handleExamQuestionPaletteUIOnSubmit(data);
        })

        fetchUserQuestionPalette(fetchUserQuestionPaletteUrl);
        fetchUserQuestion(fetchUserQuestionUrl);

        return {}
      }();

    } );
  </script>
{% endblock %}

</body>

</html>
